.student-card{
  cursor: pointer;
  border-radius: 20px;
  border: 5px solid black;
  -webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.75);
  width: auto;
  height: auto;
  float: left;
  background-color: white;
  margin: 0 auto;
  &-body{
    padding: 5px;
    font-weight: $bold;
    text-align: center;
    position: relative;
    border: 5px solid white;
    border-radius: 10px;
    min-height: 165px;
    max-height: 180px;
    min-width: 120px;
    max-width: 130px;
    &-name{
      position: absolute;
      left:0;
      top: 40%;
      right: 0;
    }
    &-bottom{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &-date{
      position: absolute;
      top: 10%;
      right: 1%;
      text-align: right;
      font-size: $base-font-size;
      color: $gray;
    }
  }
}

.location-button{
  cursor: pointer;
  font-weight: $bold;
  color: white;
  width: 100%;
  padding: 14px 16px;
  text-align: center;
  margin: 5px;
}
